.about-container {
	background-color: #170c00;
	/* height: fit-content; */
	font-family: "Ubuntu Mono", monospace;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2vh;
	padding: 10vh 15vh;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* height: 100vh; */
	color: #c0c0c0;
}

.about-container h1 {
	color: #ff9838;
	font-family: "Ubuntu Mono", monospace;
	text-align: center;
	margin: 2vh;
	text-decoration: overline;
}

.about-container p {
	color: #fcf8cc;
	/* padding: 0 20vh; */
	/* border: 2px solid red; */
	width: 45vw;
	margin: 2vh 0;
}

.about-container .about-portrait {
	width: 15vw;
	border-radius: 15vw;
	cursor: pointer;
	/* border: 5px groove #ffd705; */
	filter: grayscale(0);
	transition: 0.3s;
}

@media (max-width: 990px) {
	.about-container .about-portrait {
		width: 30vw;
		border-radius: 15vw;
	}
}

.about-container .about-portrait:hover {
	transition: 0.1s;
	border: 0;
	filter: grayscale(100%);
}

.about-container .about-skills-list {
	list-style-type: armenian;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 50px;
}

.about-container .about-skills-list li {
	color: #fcf8cc97;
	/* padding: 5px; */
	border-radius: 1px;
	/* border: 5px groove #101010; */
	/* background-color: #c0c0c0; */
	font-size: larger;
}

.about-container .about-skills-list li:hover {
	transform: scale(1.1);
	transition: 0.1s;
	color: #ff9838;
	cursor: crosshair;
}
