.about-container {
	background-color: #1b1b1b;
	/* height: fit-content; */
	font-family: "Ubuntu Mono", monospace;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2vh;
	padding: 10vh 15vh;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* height: 100vh; */
	color: #c0c0c0;
}

.about-container h1 {
	color: #ffd705;
	font-family: "Ubuntu Mono", monospace;
	text-align: center;
	margin: 2vh;
}

.about-container p {
	color: #c0c0c0;
	/* padding: 0 20vh; */
	/* border: 2px solid red; */
	width: 45vw;
	margin: 2vh 0;
}

.about-container .about-portrait {
	width: 15vw;
	border-radius: 15vw;
	cursor: pointer;
	/* border: 5px groove #ffd705; */
	filter: grayscale(0);
	transition: 0.3s;
}

@media (max-width: 990px) {
	.about-container .about-portrait {
		width: 30vw;
		border-radius: 15vw;
	}
}

.about-container .about-portrait:hover {
	transition: 0.1s;
	border: 0;
	filter: grayscale(100%);
}

.about-container .about-skills-list {
	list-style-type: none;

	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 2vh;
}

.about-container .about-skills-list li {
	color: #1b1b1b;
	padding: 5px;
	border-radius: 1px;
	border: 5px groove #101010;
	background-color: #c0c0c0;
	font-size: larger;
}

.about-container .about-skills-list li:hover {
	transform: scale(1.5);
	transition: 0.3s;
	color: #54ff59;
	cursor: crosshair;
}
