.contact-container {
	color: #fcf8cc;
	background-color: #392a0556;
	/* width: 80vw; */
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 40vw;
	padding: 15vh 5vh;
	border-radius: 8px;
	/* flex-wrap: wrap; */
}

h2 {
	color: #fcf8cc;
	text-align: center;
	margin: 2vh 5vw;
	font-size: 10vh;
	text-decoration: overline;
}

.contact-icon {
	color: #fcf8cc;
	font-size: 7vh;
}

@media (max-width: 990px) {
	.contact-container {
		width: 80vw;
	}
}
