.home-container {
	height: 101vh;
	padding: 40vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fcf8cc;
	background: #170c00;
}

@keyframes home-animation {
	from {
		background-position: 0cm;
	}
	to {
		background-position: 20cm;
	}
}

.home-info-container {
	padding: 20px;
	border-radius: 8px;
}

.home-info-container > h1 {
	color: #ff9838;
	font-family: "Ubuntu Mono", monospace;
	margin-top: 10vh;
	font-size: 5vh;
}

.home-container > h5 {
	color: #ffd705;
}

.home-myname-span {
	color: #fcf8cc;
	font-size: 7vh;
	font-weight: bold;
}

.home-position-span {
	color: #fcf8cc97;
	font-size: 4vh;
	font-style: oblique;
}

.home-pipe-span {
	color: #ff9838;
}

.home-resume-container {
	border: 1px solid #ff9838;
	display: flex;
	width: fit-content;
	margin: 0 auto;
	padding: 0.5rem 3rem;
	margin-top: 50px;
	color: #ff9838;
	cursor: pointer;
	border-radius: 8px;
	text-decoration: none;
}

.home-resume-container:hover {
	background-color: #ff98382b;
	transition: 0.1s;
	text-decoration: overline;
}

@media (max-width: 990px) {
	.home-container {
		padding: 20vh;
	}
}

@media (max-width: 650px) {
	.home-container {
		padding: 10vh;
	}
}

@media (max-width: 450px) {
	.home-container {
		padding: 5vh;
	}
}

.home-downArrow {
	display: flex;
	justify-content: center;
	font-size: 2rem;
	animation-name: bounce;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1s;
	transition: 0.5s;
	cursor: pointer;
}

.home-downArrow a {
	color: #fcf8cc;
	text-decoration: none;
}

.home-downArrow:hover a {
	color: #ff9838;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(20%);
	}
}
