.home-container {
	height: 101vh;
	/* width: 50vw; */
	/* border: 2px solid #ffd705; */
	padding: 40vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fcf8cc;
	/* border: 10px solid red; */

	/* background-image: url(../../assets/images/home-bg.png); */
	/* animation-name: home-glitch; */
	/* animation-name: home-animation;
	animation-duration: 60s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-timing-function: linear; */
	background: #170c00;
	/* background: radial-gradient(
		circle,
		rgba(229, 170, 31, 1) 10%,
		rgba(57, 42, 5, 1) 70%,
		rgba(23, 12, 0, 1) 100%
	); */
}

@keyframes home-animation {
	from {
		background-position: 0cm;
	}
	to {
		background-position: 20cm;
	}
}

.home-info-container {
	/* background-color: #392a059e; */
	padding: 20px;
	/* border: 2px solid #fcf8cc; */
	border-radius: 8px;
}

.home-info-container > h1 {
	color: #ff9838;
	font-family: "Ubuntu Mono", monospace;
	margin-top: 10vh;
	font-size: 4vw;
}

.home-container > h5 {
	color: #ffd705;
}

.home-myname-span {
	color: #fcf8cc;
	font-size: 5vw;
	font-weight: bold;
}

.home-position-span {
	color: #fcf8cc97;
	font-size: 3vw;
	font-style: oblique;
}

.home-pipe-span {
	color: #ff9838;
}

.home-resume-container {
	border: 1px solid #ff9838;
	display: flex;
	/* justify-content: left !important; */
	width: fit-content;
	margin: 0 auto;
	padding: 0.5rem 3rem;
	margin-top: 50px;
	color: #ff9838;
	cursor: pointer;
	border-radius: 8px;
}

.home-resume-container:hover {
	background-color: #ff98382b;
	transition: 0.1s;
	text-decoration: overline;
}

@media (max-width: 990px) {
	.home-container {
		padding: 20vh;
	}
	.home-info-container {
		/* margin-top: 200px; */
	}
}

@media (max-width: 650px) {
	.home-container {
		padding: 10vh;
	}
}

@media (max-width: 450px) {
	.home-container {
		padding: 5vh;
	}
}

.line {
	/* border: 2px solid #ff9838; */
	height: 250px;
	width: 0;
	/* position: absolute; */
	position: absolute;
	bottom: 0;
	left: 100px;
	z-index: 0;
}

.circle {
	height: 40px;
	width: 40px;
	border-radius: 8px;
	position: absolute;
	bottom: 250px;
	left: 80px;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
	background-color: #ff9838;
}

.circle a {
	font-size: 30px;
	color: #170c00;
	cursor: pointer;
	background-color: #ff9838;
	text-decoration: none;
	display: flex;
}

.circle:hover {
	transform: scale(1.3);
	transition: 0.1s;
	color: white;
	/* background-color: #170c00; */
	text-decoration: overline;
}

.circle a:hover {
	color: #fcf8cc;
	transition: 0.1s;
}

.circle-2 {
	/* border: 5px solid rgb(229, 170, 31); */
	height: 40px;
	width: 40px;
	border-radius: 8px;
	position: absolute;
	bottom: 150px;
	left: 80px;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
	background-color: #ff9838;
}

.circle-2 a {
	font-size: 30px;
	color: #1b1b1b;
	cursor: pointer;
	background-color: #ff9838;
	text-decoration: none;
	display: flex;
}

.circle-2:hover {
	transform: scale(1.3);
	transition: 0.1s;
	/* color: white; */
	/* background-color: rgb(229, 170, 31); */
	text-decoration: overline;
}

.circle-2 a:hover {
	color: #fcf8cc;
	transition: 0.1s;
}

@media (max-width: 990px) {
	.circle {
		display: none;
	}

	.circle-2 {
		display: none;
	}

	.line {
		display: none;
	}
}

.home-loadingBar-container {
	display: flex;
	margin: 0;
	gap: 1vw;
}

.square {
	border: 2px solid #ffd705;
	height: 20px;
	width: 20px;
}

.home-loadingBar-container .square:first-child {
	background-color: #ffd705;
}
