.Navbar {
	display: flex;
	justify-content: space-between;
}

.NavigationNormal ul {
	flex-direction: row;
}

.NavigationMobile ul {
	flex-direction: column;
	/* display: none; */
}

.NavLinks-Ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	text-decoration: overline;
	color: #ffd705;
}
