/*^ NAVBAR */

.Navbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: url(../../assets/images/mobile-nav-bg.png);
	opacity: 1;
	background-repeat: repeat;
	background-size: 60vw;
	background-position: center;
	position: fixed;
	width: 100vw;
	height: 55px;
	z-index: 1;
}

ul {
	list-style-type: none;
	gap: 20px;
	margin-top: 12px;
}

/*^ DESKTOP NAVBAR */

.Navbar-container .Navbar-DesktopNavbar {
	position: absolute;
	right: 2%;
	/* had to do  this because otherwise it would treat the hidden mobile nav as a flex element, it would not justify as space between*/
}

.Navbar-container .Navbar-DesktopNavbar ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.Navbar-container .Navbar-DesktopNavbar a {
	color: white;
	text-decoration: none;
}

.Navbar-container .Navbar-DesktopNavbar a:hover {
	color: #ffd705;
	text-decoration: overline;
	transition: 0.3s;
}

.navbar-hamburger-open {
	visiblity: hidden;
}

/*^ MEDIA QUERY */

@media (max-width: 990px) {
	.Navbar-container .Navbar-DesktopNavbar {
		display: none;
	}
	.Navbar-overlay {
		/* display: flex; */
		/* flex-direction: column; */
		/* border: 2px solid red; */
		height: 100vh;
		position: fixed;
		width: 0%;
		overflow-x: hidden;
		transition: 0.5s;
		background-color: #1b1b1b;
		overflow-y: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Navbar-overlay-content {
		/* position: absolute; */
		/* top: 25%; */
		width: 100%;
		height: fit-content;
		text-align: center;
		margin-top: 30px;
		display: flex;
		/* flex-direction: column; */
		justify-content: center;
		align-self: center;
		position: relative;
	}

	.Navbar-overlay a {
		color: white;
		text-decoration: none;
	}

	.Navbar-overlay ul {
		display: flex;
		flex-direction: column;
		gap: 20px;
		font-size: 150%;
	}

	.Navbar-overlay ul a:hover {
		text-decoration: overline;
		color: #ffd705;
		transition: 0.3s;
	}

	.navbar-hamburger-closed {
		font-size: 50px;
		color: #ffd705;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		transition: 0.5s;
	}
	.navbar-hamburger-open {
		visibility: visible;
		display: block;
		font-size: 50px;
		color: #ffd705;
		cursor: pointer;
		position: absolute;
		right: 12px;
		transition: 0.5s;
	}
}
