/*^ NAVBAR */

.Navbar-container {
	display: flex;
	justify-content: space-between;
	/* padding: 0.5rem; */
	background-image: url(../../assets/images/mobile-nav-bg.png);
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
	position: fixed;
	width: 100vw;
}

.Navbar-container .NavLinks-Ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	gap: 20px;
	margin-top: 12px;
}

/* .Navbar-container .NavLinks-Ul li a {
	color: white;
	text-decoration: none;
}

.Navbar-container .NavLinks-Ul li a:hover {
	color: #ffd705;
	transition: 0.3s;
	text-decoration: overline;
} */

/*^ DESKTOP NAVBAR */

.Navbar-container .Navbar-DesktopNavbar {
	position: absolute;
	right: 2%;
	/* had to do  this because otherwise it would treat the hidden mobile nav as a flex element, it would not justify as space between*/
}

.Navbar-container .Navbar-DesktopNavbar a {
	color: white;
	text-decoration: none;
}

.Navbar-container .Navbar-DesktopNavbar a:hover {
	color: #ffd705;
	text-decoration: overline;
	transition: 0.3s;
}

/*^ MOBILE NAVBAR */

.Navbar-container .Navbar-MobileNavbar {
	display: none;
	position: absolute;
}

.Navbar-container .Navbar-MobileNavbar .NavLinks-Ul {
	/* transform: translateX(200%); */
	transition: 0.8s;
}

/*^ MEDIA QUERY */

@media (max-width: 990px) {
	.Navbar-container .Navbar-DesktopNavbar {
		display: none;
	}

	.Navbar-container .Navbar-MobileNavbar {
		display: flex;
		/* align-items: center; */
		gap: 20px;
		position: absolute;
		right: 0%;
	}

	.Navbar-container .Navbar-MobileNavbar a {
		text-decoration: none;
		color: white;
	}

	.Navbar-container .Navbar-MobileNavbar a:hover {
		text-decoration: overline;
		color: #ffd705;
	}

	.Navbar-container .Navbar-MobileNavbar .NavLinks-Ul {
		flex-direction: column;
		/* background-image: url(../../assets/images/mobile-nav-bg.png);
		background-repeat: contain;
		background-position: center;
		background-size: cover; */
		background-color: #1b1b1b;
		/* padding: 2vh 20vw; */
		border-radius: 10px;
		/* opacity: 0.8; */
		/* margin-top: 8.5vh; */
		/* margin-left: 0; */
		align-items: center;
		align-content: center;
		/* transform: translateX(0); */
		width: 100vw;
		height: 100vh;
		/* margin-right: 0px; */
		font-size: 150%;
		margin-top: 0;
	}
}

/*^ HAMBURGER */

.navbar-hamburger-open {
	font-size: 50px;
	color: #ffd705;
	cursor: pointer;
	position: absolute;
	right: 0;
}
