.projects-container {
	/* background-color: ; */
	background-image: url(../../assets/images/home-bg.png);
	background-repeat: repeat;
	background-position: 0cm;
	background-size: contain;
	/* height: fit-content; */
	font-family: "Ubuntu Mono", monospace;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2vh;
	/* padding: 10vh 10vw; */
	align-items: center;
	justify-content: center;
	text-align: center;
	/* border: 2px solid red; */
	animation-name: background-animation;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	/* height: fit-content; */
}

@keyframes background-animation {
	from {
		background-position: 0cm;
		/* background-size: 4cm; */
	}
	to {
		background-position: 20cm;
		/* background-size: 7cm; */
	}
}

.projects-container h2 {
	color: #ffd705;
}

.projects-featured-article {
	display: flex;
}

.projects-featured-article-img {
	border: 2px solid #ffd705;
	width: 30vw;
	height: 30vh;
	overflow: hidden;
	/* height: 250px; */
	background-image: url(../../assets/images/grandmasRecipes.png);
	background-size: cover;
	filter: sepia(80%);
}

.projects-featured-description-container {
	width: 45vw;
}

.projects-featured-project-paragraph {
	color: #ffd705;
}
