.projects-container {
	background-repeat: repeat;
	background-position: 0cm;
	background-size: contain;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2vh;
	padding: 10vh 10vw;
	align-items: center;
	justify-content: center;
	animation-name: background-animation;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	height: fit-content;
}

@keyframes background-animation {
	from {
		background-position: 0cm;
	}
	to {
		background-position: 20cm;
	}
}

.projects-container h2 {
	margin-top: 5vh;
	text-decoration: overline;
	font-size: 10vh;
	color: #fcf8cc;
	text-align: right;
}

.projects-featured-article {
	display: flex;
	background-color: transparent;
	border-radius: 1px;
}

.projects-featured-article-img {
	border: 2px solid #ff9838;
	height: 40vh;
	width: 40vh;
	filter: sepia(100%);
	border-left: 5px solid #ff9838;
	border-top: 5px solid #ff9838;
	image-rendering: optimizeSpeed;
	border-image-repeat: stretch;
	object-fit: cover;
	border-radius: 8px;
}

.projects-featured-article-img:hover {
	filter: sepia(0);
	transform: translate(-2px);
	transition: 0.5s;
}

.projects-featured-description-container {
	width: 45vw;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.projects-featured-project-paragraph {
	color: #ff9838;
}

.projects-featured-description-container h1 {
	color: #fcf8cc;
}

.projects-featured-project-description-paragraph {
	background-color: #392a05b4;
	backdrop-filter: blur(10px);
	color: #fcf8cc;
	padding: 5vh;
	border-radius: 1px;
	height: 300px;
	display: flex;
	align-items: center;
	border-radius: 8px;
}

.projects-featured-description-container ul {
	display: flex;
	justify-content: center;
}

.technologies-list {
	display: flex;
	flex-wrap: wrap;
}

.technologies-list li {
	padding: 5px;
	border-radius: 1x;
	color: #fcf8cc97;
}
.projects-link {
	font-size: 40px;
}

.projects-link:hover {
	transform: translate(-2px);
	transition: 0.3s;
	color: white;
}

@media (max-width: 990px) {
	.projects-featured-article-img {
		display: none;
	}

	.projects-featured-project-description-paragraph {
		height: fit-content;
	}

	.projects-featured-description-container {
		width: 60vw;
	}
}

.project-anchor {
	text-decoration: none;
	color: #ff9838;
}

.project-anchor:hover {
	transition: 0.3s;
	color: white;
}
