.projects-container {
	/* background-color: ; */
	/* background-image: url(../../assets/images/home-bg.png); */
	background-repeat: repeat;
	background-position: 0cm;
	background-size: contain;
	/* height: fit-content; */
	/* font-family: "Ubuntu Mono", monospace; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2vh;
	padding: 10vh 10vw;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
	/* border: 2px solid red; */
	animation-name: background-animation;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	height: fit-content;
}

@keyframes background-animation {
	from {
		background-position: 0cm;
		/* background-size: 4cm; */
	}
	to {
		background-position: 20cm;
		/* background-size: 7cm; */
	}
}

.projects-container h2 {
	/* color: #ff9838; */
	margin-top: 5vh;
	text-decoration: overline;
	font-size: 10vh;
	color: #fcf8cc;
	text-align: right;
}

.projects-featured-article {
	display: flex;
	/* border: 2px solid #ff9838; */
	background-color: transparent;
	/* padding: 10vh; */
	border-radius: 1px;
	/* margin-bottom: 5vh; */
	/* border: 2px dashed #ff9838; */
}

.projects-featured-article-img {
	border: 2px solid #ff9838;
	/* width: 30vw; */
	/* overflow: hidden; */
	height: 40vh;
	width: 40vh;
	/* background-image: url(../../assets/images/grandmasRecipes.png);
	background-size: cover; */
	filter: sepia(100%);
	border-left: 5px solid #ff9838;
	border-top: 5px solid #ff9838;
	image-rendering: optimizeSpeed;
	border-image-repeat: stretch;
	object-fit: cover;
	border-radius: 8px;
}

.projects-featured-article-img:hover {
	filter: sepia(0);
	/* z-index: 1; */
	transform: translate(-2px);
	transition: 0.5s;
}

.projects-featured-description-container {
	width: 45vw;
	display: flex;
	flex-direction: column;
	gap: 5px;
	/* position: absolute; */
	/* left: 50vw; */
	/* transform: translate(5%); */
}

.projects-featured-project-paragraph {
	color: #ff9838;
}

.projects-featured-description-container h1 {
	color: #fcf8cc;
}

.projects-featured-project-description-paragraph {
	background-color: #392a05b4;
	backdrop-filter: blur(10px);
	color: #fcf8cc;
	padding: 5vh;
	border-radius: 1px;
	height: 300px;
	display: flex;
	align-items: center;
	border-radius: 8px;
}

.projects-featured-description-container ul {
	display: flex;
	justify-content: center;
	/* color: #54ff59; */
}

.technologies-list li {
	/* border: 5px groove #101010; */
	/* background-color: #c0c0c0; */
	padding: 5px;
	border-radius: 1x;
	color: #fcf8cc97;
}
.projects-link {
	font-size: 40px;
}

.projects-link:hover {
	transform: translate(-2px);
	transition: 0.3s;
	color: white;
}

@media (max-width: 990px) {
	.projects-featured-article-img {
		display: none;
	}

	.projects-featured-project-description-paragraph {
		height: fit-content;
	}
}

.project-anchor {
	text-decoration: none;
	color: #ff9838;
}

.project-anchor:hover {
	transition: 0.3s;
	color: white;
}
